@media screen and ( max-width: 1000px )
    .info
        &_1
            & svg
                top: 50%
                right: -300px
                transform: translateY(-65%)
                width: 800px
                height: 800px
