@media screen and ( max-width: 1000px )
    .header
        &__links
            flex-direction: column
        &__link:not(:last-child)
            margin: 0
    .info
        &_right
            & .info__description
                max-width: 45%
        &_1
            & .info__image
                transform: scale(.8)
        &_2
            & .info__image
                left: -300px
        &_3
            & .info__image
                right: -400px
                transform: scale(.8)
        &_4
            & .info__image
                right: -400px
                transform: scale(.9)
    .our-services
        &__inner
            justify-content: space-around
        &__card
            width: 20%
    .last-news
        &__card
            grid-template-columns: 1fr 200px
            column-gap: 30px
            padding-right: 20px
            & svg
                height: 200px
        &__btn-wrapper
            justify-content: flex-start
        &__btn
            &:not(:last-child)
                margin-right: 60px
    .footer
        & .container
            grid-template-columns: 100px 1fr 300px
            gap: 20px
        &__logo
            width: 100px
            height: 100px
            & img
                width: 100%
        &__column-wrapper
            grid-template-areas: 'col_1 col_2''col_3 col_3'
            grid-template-columns: 50% 50%
            justify-content: center
            min-width: 330px
            max-width: 400px
            margin: 0 auto
            gap: 15px
        &__column-1
            grid-area: col_1
        &__column-2
            grid-area: col_2
        &__column-3
            grid-area: col_3
            display: grid
            grid-template-columns: 50% 50%
            gap: 15px
