@media screen and ( max-width: 580px )
    .info
        padding: 30px 0
        &__inner
            & .info__image_mobile
                max-width: 250px
        &__btn
            margin-top: 20px
    .footer
        &__column-wrapper
            gap: 10px
        &__inner
            margin-top: 0
            padding-top: 30px
        & .waves
            display: none
        &__social
            left: -50px
    .last-news
        &.in-single-service
            padding: 50px 0
            & .last-news
                &__card
                    padding-right: 15px
                &__card-wrapper
                    & > svg
                        width: 400px
                        height: 400px
