@media screen and ( max-width: 768px )
    .full-screen
        .container
            display: block
            min-height: max-content
    main
        margin-top: 80px
    section + section
        padding-top: 30px
    .header
        background: $third
        color: #fff
        height: 80px
        & .container
            padding-right: 80px
        & .logo
            & img
                width: 80px
                height: 80px
        &.background
            height: 70px
            & .logo
                & img
                    width: 70px
                    height: 70px
            & .menu__burger
                top: 25px
                transition: .2s
    .menu
        &__burger
            display: flex
        &__list
            width: 100%
            height: 100%
            background: transparent
            position: fixed
            top: 0
            left: 0
            transition: .2s
            opacity: 0
            visibility: hidden
            display: flex
            flex-direction: column
            justify-content: center
            overflow-y: scroll
            transform: translateY(-20%)
            &::-webkit-scrollbar
                width: 0
                background: transparent
            & .menu-item-has-children
                position: relative
                padding-right: 30px
                width: max-content
                & ul
                    margin-left: 60px
                    list-style: none
                    display: none
                    & > li > a
                        font-weight: 700
                        font-size: 24px
                        display: inline-block
                & .menu__arrow
                    position: absolute
                    top: 50%
                    right: 0
                    width: 15px
                    height: 15px
                    border-right: 2px solid #fff
                    border-bottom: 2px solid #fff
                    transform: translateY(-50%) rotate(45deg)
                    cursor: pointer
                    transition: .2s
                    transform-origin: center
                &.active
                    & > ul
                        display: block
                    & > .menu__arrow
                        transform: translateY(-20%) rotate(-135deg)
            & li:not(:last-child)
                margin-right: 0
            & > li > a
                font-weight: 700
                font-size: 36px
                display: inline-block
                color: #fff
            & .menu__sub-list + .menu__arrow
                top: 30px
            & .menu__sub-sub-list + .menu__arrow
                top: 24px
        &.open
            background: $third
            transition: .2s
            & .menu__list
                opacity: 1
                visibility: visible
                transition: .2s
                background: $third
                transform: translateY(0)

    .info
        &__inner
            flex-direction: column-reverse
            gap: 30px
            & .info__image_mobile
                top: auto
                right: auto
                height: auto
                width: 100%
                max-width: 400px
                // transform: none
        &__description
            max-width: 100%
        &_right
            & .info__inner
                flex-direction: column-reverse
                gap: 30px
            & .info__description
                max-width: 100%
        &__image
            display: none
            &_mobile
                display: block
    .our-services
        &__title
            margin-bottom: 30px
        &__inner
            flex-wrap: wrap
        &__card
            width: 50%
            padding: 20px 10px
    .last-news
        &__card
            grid-template-columns: 100%
            row-gap: 30px
            padding: 20px
            & svg
                height: 250px
                width: 250px
                grid-row: 1/2
                justify-self: center
        &__btn-wrapper
            justify-content: space-around
        &__btn
            &:not(:last-child)
                margin-right: 0
        &.in-single-service
            & .last-news
                &__card-wrapper
                    & > svg
                        width: 500px
                        height: 500px
                        margin-top: -20px
                        margin-bottom: -20px
                &__card
                    max-width: 90%
                    padding: 35px
    .footer
        & .container
            padding-bottom: 15px
            grid-template-columns: 50% 50%
            grid-template-areas: 'logo socials''menu menu'
            gap: 0
        &__column-wrapper
            grid-template-areas: none
            grid-template-columns: repeat(3, max-content)
            justify-content: space-between
            min-width: auto
            max-width: 100%
            margin: 0
            gap: 50px
            grid-area: menu
        &__column-1
            grid-area: auto
        &__column-2
            grid-area: auto
        &__column-3
            grid-area: auto
            display: block
            border: none
            padding: 0
        &__logo
            width: 120px
            height: 120px
            grid-area: logo
        &__social
            left: 10px
            grid-area: socials
    .intro
        padding: 50px 0
