@import 'var'
*
    box-sizing: border-box
    margin: 0
    padding: 0
    outline: none
body
    font-family: 'Roboto', sans-serif //300 400 700
    font-style: normal
    font-weight: 300
    font-size: 16px
    line-height: 1.2
    background-color: #fff
a
    text-decoration: none
    color: inherit
input, textarea
    outline: none
    font-family: 'Open Sans', sans-serif
svg
    pointer-events: none

@import 'header'
@import 'info'

@import 'media-1200'
@import 'media-1000'
@import 'media-768'
@import 'media-580'
@import 'media-480'
@import 'media-400'
